body {
  color: #000000;
  background-color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
}

#container {
  max-width: 960px;
  margin: 0 auto;
  /* background-color: pink; 適用範囲確認用*/
}

header,
main,
footer {
  width: 100%;
  margin: 0 auto;
  /* background-color: lightcyan; 適用範囲確認用*/
}

header {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  /* background-color: purple; 適用範囲確認用*/
}

nav {
  /* background-color: blue; 適用範囲確認用*/
  font-size: 34px;
  width: 598px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

h1 {
  font-size: 34px;
  text-align: center;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 18px;
}

footer {
  text-align: center;
}


#main_photo img {
  height: 400px;
  width: 100%;
}

#title {
  margin-right: auto;
  border: solid 1px #000000;
  padding: 11.5px 14.25px;
  /* background-color: yellow;  適用範囲確認用*/
}

.nav_menu {
  /* background-color: red; 適用範囲確認用*/
  padding-left: 35px;
  display: flex;
  align-items: center;
}

#main_photo {
  margin: 0 auto;
}

section {
  display: flex;
  justify-content: center;
}

#item01 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#h_item01 {
  width: 100%;
}

#text_item01 h2 {
  margin-top: 0px;
}

#img_item01 {
  margin-right: 24.5px;
}

#img_item01 img {
  border-radius: 50%;
  /* 角丸半径を50%にする(=円形にする) */
  width: 141px;
  /* ※縦横を同値に */
  height: 141px;
  /* ※縦横を同値に */
}

#item02 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#h_item02 {
  width: 100%;
}

#mini_container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

#left_box_item02,
#center_box_item02,
#right_box_item02 {
  display: flex;
  justify-content: center;
  width: 179px;
  flex-wrap: wrap;
}

#center_box_item02 {
  margin-left: 17.5px;
  margin-right: 17.5px;
}

#left_box_item02 img,
#center_box_item02 img,
#right_box_item02 img {
  width: 100%;
}

#left_box_item02 p,
#center_box_item02 p,
#right_box_item02 p {
  margin-top: 27px;
  margin-bottom: 27px;
  overflow-wrap: break-word;
  text-align: center;
}

@media screen and (max-width: 768px) {
  /* 768pxまでの幅の場合に適応される */

  nav {
    /* background-color: blue; 適用範囲確認用*/
    width: 727px;
    margin-left: 20px;
    margin-right: 20px;
  }

  #mini_container {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    /* background-color: lightgreen; 適用範囲確認用*/
  }

  #center_box_item02 {
    margin-left: 0px;
    margin-right: 0px;
  }

  #left_box_item02,
  #center_box_item02,
  #right_box_item02 {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }

  #left_box_item02 p,
  #center_box_item02 p,
  #right_box_item02 p {
    margin-top: 17px;
    margin-bottom: 35px;
  }

}